* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: helvetica;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#container {
    position: absolute; 
    width: 100vw;
    max-width: 100%;
    margin: 0px;
    margin-top: 0px;
    height: 100vh; 
    text-align: justify;
}

#map_landing {
    position: absolute;
    top: 10vh;
    left: 35vw;
    width: 65vw; 
    height: calc(100% - 50px); 
}


#sidebar_landing {
    position: absolute;
	font-family: helvetica;
    left: 2vw;
    top: 10vh;
    width: 28vw; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 1vw; 
    overflow-y: auto; 
	z-index: 100;
    /* display: flex; */
}

h2 {
    margin: 0;
    font-size: 24px;
}

.location {
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 1.1vh;
    left: 0.4vw; 
}

.location a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.read-more a {
    color: #868686;
    text-decoration: none;
    text-align: right;
}

.location a:hover {
    text-decoration: underline;
}

.location_description {
    position: absolute;
    left: 0.4vw; 
    width: 300px;
    padding: 10px;
    color: #888;
    display: flex;
    flex-direction: column;
    z-index: 105; 
}

/* Small tag stlye in location_description */
.location_description small {
    margin-top: .8vh;
    display: block;
}
.read-more {
    margin-left: 3vw;
    right: 1vw;
    text-align: right;
}

.intro {
    margin-bottom: 10vh;
    margin-top: 5vh;
}

h3{
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: normal;
	color: #ffffff;
}

h4 {
	margin-top: 12px;
	margin-bottom: 4px;
	font-weight: normal;
	color: #ffffff;
}

h5 {font-size: 14px;}

#map {
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
	font-family: helvetica;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    left: 0vw;
    top: 0px;
    width: 100vw; 
    height: 8vh; 
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden; 
	z-index: 100;
    border-bottom: 0.3vh solid #b5b5b5;
  
}
.navbar-left{
    padding-left: 3vw;
    color:white;
}

.navbar-right{
    padding-right: 3vw;
}

.navbar-right a {
    color: white;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.2vw;
}

#sidebar {
    position: absolute;
	font-family: helvetica;
    left: 0vw;
    top: 7.8vh;
    width:20vw; 
    height: 92.2vh; 
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 1vw; 
    overflow-y: auto; 
	z-index: 100;
}

input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    vertical-align: middle;
    position: relative;
    outline: none; 
}

input[type="checkbox"]:checked {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #000000; 
}

.dropdown select, .makeup select {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.container-bailinfo {
	display: flex;
}

.column-bailinfo {
	flex: 1; 
	padding: 4px; 
	font-size: 14px;
	color: #ffffff;
}

.label.column-bailinfo div{
    margin-bottom: 2px;
}

.dropdown-bond {
	width: 270px;
	font-size: 14px;
}

.dropdown-race {
	width: 210px;
	margin-bottom: 4px;
	font-size: 14px;
}

.label-padding {
	padding-bottom: 10px;
	color: #ffffff;
}

.legend {
    position: relative;
    right: 10px;
	font-size: 14px;
	color: #ffffff;
}

.legend div span {
    margin: auto;
    display: inline-block;
    height: 16px;
    margin-top: 0px;
    margin-right: 4px;
    width: 44px;
}

.legend-container {
    font-size: 14px; 
	padding-bottom: 8px;
	color: #ffffff;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px; 
}

.legend-colors {
    display: flex;
    height: 16px; 
	width: 240px;
}

.legend-colors div {
    height: 100%;
    flex-grow: 1;
}

.image img{
	margin-top: 8px;
	width: 240px;
	height: 240px;
}

.makeup label{
	font-size: 14px;
}

.timeline {
	position: fixed;
    bottom: 16px;
    left: 25vw;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 500;    
}

.timeline-item {
	display: inline-block; 
	text-align: center; 
	margin-right: 16px; 
}

.year-checkbox {
	appearance: none;

	width: 20px; 
	height: 20px; 
	margin-bottom: 5px;
	cursor: pointer;
}

.year-checkbox:checked {
	background-color: orange; 
}

.year-label {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	display: block; 
	color: white; 
	cursor: pointer;
}

.timeline input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin-bottom: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
	border-radius: 16px;
    vertical-align: middle;
    position: relative;
    outline: none; 
}

.timeline input[type="checkbox"]:checked {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #000000; 
}


.mapboxgl-popup {
    font-size: 14px; 
    width: 600px; 
    opacity: 0.8; 
}

.mapboxgl-popup-content {
    padding: 20px; 
}

.mapboxgl-popup-close-button {
    font-size: 24px; 
    padding: 4px;
}

.about_heading {
    display: flex;
}

#about {
    position: relative;
	font-family: helvetica;
    left: 8px;
    top: 94px;
    width: 65%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px; 
    overflow-y: auto; 
	z-index: 100;
    white-space: pre-line;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.about_main {
    line-height: 1.3;
}

.about_subheading {
    margin-top: 70px ;
    display: flex;
    font-size: 20px;
    color: rgb(195, 248, 255); 
}

#map .mapboxgl-popup {
    max-width: 300px; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    transition: transform 0.2s ease; 
}

#map .mapboxgl-popup-content {
    color: #333; 
    font-size: 14px; 
}

#map .mapboxgl-popup-close-button {
    font-size: 16px; 
    color: #999; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mapboxgl-popup-content {
    padding: 20px; 
}


.popup {
    position: fixed;
    top: 8vh;
    right: 0.5vw;
    background-color: rgba(0, 0, 0, 0.9);
    width: 20vw;
    height: 70vh;
    border: 1px solid #242424;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
    z-index:150;
    overflow-y: auto;
    font-family: helvetica;
}

.popup-content {
    padding: 20px;
    position: relative;
    color :#2c2b2b
}


#popup_main {
    position: fixed;
    top: 8vh;
    right: 0.5vw;
    background-color: rgba(0, 0, 0, 0.9);
    width: 20vw;
    height: 70vh;
    border: 1px solid #242424;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
    z-index:150;
    overflow-y: auto;
    font-family: helvetica;
}

#popup_main.hidden_main {
    display: none; 
}

#popup_main.visible_main {
    bottom: 50px;
}

#popup_main .close_main {
    cursor: pointer;
    font-size: 18px;
    color: #ababab;
}

h6{
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: normal;
	color: #ffffff;
    font-size: 1vw;
}

.close, .back {
    cursor: pointer;
    font-size: 18px;
    color: #ababab;
}

.close:hover, .back:hover {
    color: red;
}

.hidden {
    display: none;
}

.visible {
    bottom: 50px;
}

.story-item {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #ffffff;
    color :#ffffff
}

.story-item:hover {
    background-color: #7e7e7e;
}

.story-item.active {
    background-color: #ffffff;
    border-left: 5px solid rgb(134, 88, 1);
    border: 1px solid #242424;
}

#story-details, #full-story {
    padding: 10px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid #dadada;
    color:#dadada
}


#story-title {
    font-size: 18px;
    color: rgb(142, 92, 0);
    
}

#story-heading {
    font-size: 16px;
    font-weight: bold;
}

#read-more {
    color: #868686;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

#read-more:hover {
    text-decoration: underline;
}

#back-to-stories {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.story-item-container {
    position: relative;
    border: 1px solid #242424;
}

#popup_main .popup-content {
    transition: all 0.3s ease;
}

.popup-content_main {
    
    padding: 1vw;
}

/* Add detailed story styles */
#story-details.visible,
#full-story.visible {
    display: block;
}

#full-story-title{
    color:#ffffff
}

#story-content{
    font-size:1vw;
}

#story-details.hidden,
#full-story.hidden {
    display: none;
}

#navigation-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: rgb(255, 255, 255);
}

a:visited {
    color: white; /* white color for visited link */
    text-decoration: none;
}

.navbar-left a {
    color: white; 
    text-decoration: none; 
}

.navbar-left a:visited {
    color: white; 
    text-decoration: none; 
}

.navbar-left a:hover {
    color: white; 
    text-decoration: none; 
}

.navbar-left a:active {
    color: white; 
    text-decoration: none; 
}

