* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h2, h3{
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: normal;
	color: #ffffff;
}

h4 {
	margin-top: 12px;
	margin-bottom: 4px;
	font-weight: normal;
	color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
}

#sidebar {
    position: absolute;
	font-family: helvetica;
    left: 10px;
    top: 10px;
    width: 320px; 
    height: 98%; 
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px; 
    overflow-y: auto; 
	z-index: 100;
}

input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    vertical-align: middle;
    position: relative;
    outline: none; 
}

input[type="checkbox"]:checked {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #000000; 
}

.dropdown select, .makeup select {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.container-bailinfo {
	display: flex;
}

.column-bailinfo {
	flex: 1; 
	padding: 4px; 
	font-size: 14px;
	color: #ffffff;
}

.label.column-bailinfo div{
    margin-bottom: 2px;
}

.dropdown-bond {
	width: 270px;
	font-size: 14px;
}

.dropdown-race {
	width: 210px;
	margin-bottom: 4px;
	font-size: 14px;
}

.label-padding {
	padding-bottom: 10px;
	color: #ffffff;
}

.legend {
    position: relative;
    right: 10px;
	font-size: 14px;
	color: #ffffff;
}

.legend div span {
    margin: auto;
    display: inline-block;
    height: 16px;
    margin-top: 0px;
    margin-right: 4px;
    width: 44px;
}

.legend-container {
    font-size: 14px; 
	padding-bottom: 8px;
	color: #ffffff;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px; 
}

.legend-colors {
    display: flex;
    height: 16px; 
	width: 240px;
}

.legend-colors div {
    height: 100%;
    flex-grow: 1;
}

.image img{
	margin-top: 8px;
	width: 240px;
	height: 240px;
}

.makeup label{
	font-size: 14px;
}

.timeline {
	position: fixed;
    bottom: 16px;
    left: 360px;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 500;    
}

.timeline-item {
	display: inline-block; 
	text-align: center; 
	margin-right: 16px; 
}

.year-checkbox {
	appearance: none;

	width: 20px; 
	height: 20px; 
	margin-bottom: 5px;
	cursor: pointer;
}

.year-checkbox:checked {
	background-color: orange; 
}

.year-label {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	display: block; 
	color: white; 
	cursor: pointer;
}

.timeline input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin-bottom: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
	border-radius: 16px;
    vertical-align: middle;
    position: relative;
    outline: none; 
}

.timeline input[type="checkbox"]:checked {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #000000; 
}